#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


body {
  background-image: url("../images/nashvilleskyline.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* --- map --- */
#map {
  height:500px;
  width: 700px;
}

.data-map {
  width: 80%;
  float: right;
  clear: right;
}

/* --- data buttons --- */

.data-toggle {
  width: 20%;
  float: left;
  clear: left;
  font-weight: bold;
}

input.switch:empty /*takes away the checkboxes in toggle switch */
{
	margin-left: -999px;
}

input.switch:empty ~ label /*styles the label*/
{
	position: relative;
	float: left;
  font-size: 120%;
	line-height: 2em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
}

input.switch:empty ~ label:before, /*styles the switch */
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after /*styles the white box inside the switch */
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked + label:before /*styles checked box */
{
	background-color: #393;
}

input.switch:checked + label:after
{
	margin-left: 2em;
}

input {
  display: block;
}
