@import url(http://fonts.googleapis.com/css?family=Asset);

.nashviva {
  color: black;
  font-family: 'Asset', cursive;
  text-shadow:
  0 1px #808d93,
  -1px 0 #d5cccc,
  -1px 2px #808d93,
  -2px 1px #cdd2d5,
  -2px 3px #808d93,
  -3px 2px #cdd2d5,
  -3px 4px #808d93,
  -4px 3px #cdd2d5,
  -4px 5px #808d93,
  -5px 4px #cdd2d5,
  -5px 6px #808d93,
  -6px 5px #cdd2d5,
  -6px 7px #808d93,
  -7px 6px #cdd2d5,
  -7px 8px #808d93,
  -8px 7px #cdd2d5;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 15px;
}


body {
  background: rgb(231, 230, 225);
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

#map {
  flex: 1;
  height: 100%;
  width: 100vw;
}

nav {
  background-color: rgb(231, 230, 225);
  height: 100vh;
  padding: 5px 15px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 450;
}

nav ul {
  margin-left: 5px;
  padding-bottom: 50px;
  list-style: none;
  padding-left: 0px;
}

#navbtn {
  position: absolute;
  top: 50%;
  left: 0;
  padding-top:10px;
  padding-bottom:10px;
  z-index: 451;
  writing-mode: vertical-lr;
  cursor: pointer;
  color: #ffff;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
}

/* Utility to hide things when small, also shrink sidebar */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 15px;
  }

  nav {
    /*
    Smaller than this, and at the current font size
    the text takes up two lines, causing the input to look
    strange
    */
    width: 175px;
  }
}

/* sets a lower opacity to the nav background when viewport
   is mobile sized  */
@media (max-width: 450px) {
  nav {
    background-color: rgba(231, 230, 225, 0.7);
  }
}
