@import url(http://fonts.googleapis.com/css?family=Asset);

.logo{
  text-align: center;
  color: #0000CC;
  padding: 20px;
  font-size: 350%;
  font-family: 'Asset', cursive;
  text-shadow:
  0 1px #808d93,
  -1px 0 #cdd2d5,
  -1px 2px #808d93,
  -2px 1px #cdd2d5,
  -2px 3px #808d93,
  -3px 2px #cdd2d5,
  -3px 4px #808d93,
  -4px 3px #cdd2d5,
  -4px 5px #808d93,
  -5px 4px #cdd2d5,
  -5px 6px #808d93,
  -6px 5px #cdd2d5,
  -6px 7px #808d93,
  -7px 6px #cdd2d5,
  -7px 8px #808d93,
  -8px 7px #cdd2d5;
}


body {
  background-image: url("../images/nashvilleskyline.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* --- map --- */
#map {
  height:500px;
  width: 700px;
}

.data-map {
  width: 80%;
  float: right;
  clear: right;
}

/* --- data buttons --- */

.data-toggle {
  width: 20%;
  float: left;
  clear: left;
  font-weight: bold;
}

input.switch:empty /*takes away the checkboxes in toggle switch */
{
	margin-left: -999px;
}

input.switch:empty ~ label /*styles the label*/
{
	position: relative;
	float: left;
  font-size: 120%;
	line-height: 2em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
}

input.switch:empty ~ label:before, /*styles the switch */
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after /*styles the white box inside the switch */
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked + label:before /*styles checked box */
{
	background-color: #393;
}

input.switch:checked + label:after
{
	margin-left: 2em;
}

input {
  display: block;
}
