@import url(http://fonts.googleapis.com/css?family=Asset);

* {
  box-sizing: border-box; 
  } 

li {
  list-style-type: none;
}


#skyline{
  left: 0;
  top: 0;
  width: 100%;
}



header {
	position:relative;
}

.app-description {
	/*text-align:center; */
}

#skyline img {
  display: block;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

#title{
  background: url("../images/swirl_pattern.png");
  z-index: 100;
  /*position: absolute;
  left: 25%;
  top: 160px; */
  text-align: center;
  color: black;
  font-size: 350%;
  font-family: 'Asset', cursive;
  text-shadow:
  0 1px #808d93,
  -1px 0 #cdd2d5,
  -1px 2px #808d93,
  -2px 1px #cdd2d5,
  -2px 3px #808d93,
  -3px 2px #cdd2d5,
  -3px 4px #808d93,
  -4px 3px #cdd2d5,
  -4px 5px #808d93,
  -5px 4px #cdd2d5,
  -5px 6px #808d93,
  -6px 5px #cdd2d5,
  -6px 7px #808d93,
  -7px 6px #cdd2d5,
  -7px 8px #808d93,
  -8px 7px #cdd2d5;
}


body {
  background: white;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* --- main section --- */
.data-cols {
  padding: 0 5%;
  background: rgba(231,230,225,0.5);
}

/* --- map --- */
#map {
  height:500px;
  width: 80%;
  margin: 10px auto 20px 0;
  float: right;
  border: 2px solid black;
}


.data-map {
  width: 70%;
  float: right;
  clear: right;
  /*box-shadow: 1px 1px; fix box shadow*/
}

/* --- data buttons --- */

.nav-btn {
  display: none;
}

.data-toggle {
  width: 30%;
  float: left;
  clear: left;
  font-weight: bold;
}

input.switch:empty /*takes away the checkboxes in toggle switch */
{
	margin-left: -999px;
}

input.switch:empty ~ label /*styles the label*/
{
	position: relative;
	float: left;
	line-height: 2em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
}

input.switch:empty ~ label:before, /*styles the switch */
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after /*styles the white box inside the switch */
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked + label:before /*styles checked box */
{
	background-color: #393;
}

input.switch:checked + label:after
{
	margin-left: 2em;
}

input {
  display: block;
  clear: left;
}

/* --- clearfic hack --- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media screen and (max-width: 1050px) {
  .data-map{
    width: 50%;
  }

  .data-toggle{
    width: 50%;
  }

  #map {
    height: 400px;
    width: 500px;
    margin: 0 auto;
  }

  #map-img {
    max-width: 100%;
  }
}

@media screen and (max-width: 760px) {

  .data-map{
    width: 100%;
    clear: both;
  }

  .leaflet-container {
    float: none!important;
    margin: 0 auto;
}

  .data-toggle {
    width: 100%;
    clear: both;
  }

  .nav-btn {
    display: block;
    color: black;
    font-size: 2em;
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
  }
  
 .nav-btn:before {
   content: "Ammenities";
 }


 .data-toggle ul {
    display: none;    
    clear:both;
    position: relative;
    padding:0;
 }

 .data-toggle li {
    display: block;
    text-align: center;
    padding-bottom: 1em;
  }

 .data-toggle ul li{
    padding-top: 10px;
    text-align: center;
  }

  .data-toggle input {
    margin 0 auto;
  }

  #title {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 600px){
  #title {
    font-size: 2em;
  }

  #map {
    height: 300px;
    margin: 0 auto;
  }
}
