#map {
  height:720px;

input {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  font-size: 110%;
  display: block;
  margin: 5px;
}

input:hover {
  border-color: black;
  height: 60px;
  width: 160px
}

#police-station {
  background-color: steelblue;
}

#fire-station {
  background-color: red;
}

#wifi {
  background-color: lightgreen;
}

#parks {
  background-color: darkgreen;
}

body {
  background-image: url("../images/nashvilleskyline.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
